openapi: 3.1.0
info:
  title: SerpWow API
  description: |
    SerpWow is a real-time SERP (search engine results page) API supporting
    Google, Bing, Yahoo, Baidu, Yandex, Naver, Amazon and eBay. Documented at
    https://docs.trajectdata.com/serpwow. Authentication is via the api_key
    query parameter.
  version: live
servers:
  - url: https://api.serpwow.com/live
    description: Production
security:
  - apiKeyAuth: []
tags:
  - name: Search
paths:
  /search:
    get:
      tags: [Search]
      summary: Retrieve search engine results for a query
      operationId: search
      parameters:
        - in: query
          name: api_key
          required: true
          schema: { type: string }
          description: Your SerpWow API key
        - in: query
          name: q
          required: true
          schema: { type: string }
          description: Search query
        - in: query
          name: engine
          schema:
            type: string
            enum: [google, bing, yahoo, baidu, yandex, naver, amazon, ebay]
          description: Search engine to use
        - in: query
          name: location
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer }
        - in: query
          name: output
          schema:
            type: string
            enum: [json, html, csv]
      responses:
        '200':
          description: Search results
  /places:
    get:
      tags: [Search]
      summary: Retrieve Google Maps results for a location search
      operationId: places
      parameters:
        - in: query
          name: api_key
          required: true
          schema: { type: string }
        - in: query
          name: q
          required: true
          schema: { type: string }
        - in: query
          name: location
          schema: { type: string }
      responses:
        '200':
          description: Places results
  /shopping:
    get:
      tags: [Search]
      summary: Retrieve Google Shopping results for a product query
      operationId: shopping
      parameters:
        - in: query
          name: api_key
          required: true
          schema: { type: string }
        - in: query
          name: q
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Shopping results
  /news:
    get:
      tags: [Search]
      summary: Retrieve Google News results for a search term
      operationId: news
      parameters:
        - in: query
          name: api_key
          required: true
          schema: { type: string }
        - in: query
          name: q
          required: true
          schema: { type: string }
      responses:
        '200':
          description: News results
  /product:
    get:
      tags: [Search]
      summary: Retrieve Google product results for a specific product ID
      operationId: product
      parameters:
        - in: query
          name: api_key
          required: true
          schema: { type: string }
        - in: query
          name: product_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Product results
  /place_reviews:
    get:
      tags: [Search]
      summary: Retrieve Google place reviews for a location
      operationId: placeReviews
      parameters:
        - in: query
          name: api_key
          required: true
          schema: { type: string }
        - in: query
          name: data_id
          required: true
          schema: { type: string }
          description: Google place data_id
      responses:
        '200':
          description: Place reviews
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
